{% load static %}
<div class="card-header bg-transparent border-0">
  <div class="row">
    <h3 class="text-white mb-0">Detections</h3>
    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" id="myInput" placeholder="Search detection..." onkeyup="myFunction()" type="text">
        </div>
      </div>
    </form>
  </div>
</div>


<div class="table-responsive">
  <table id="detectionsTable" class="table align-items-center table-dark table-flush">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
        <th scope="col">Creator</th>
        <th scope="col">Water Streess</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for detection in detections %}
        <tr id="myTR">
          <!-- Name -->
          <th scope="row" value="{{detection.name}}">
            <div class="media align-items-center">
              <div class="media-body">
                <a href="{% url "detections:detection_detail" detection.name %}">
                  <span style="color:white" class="mb-0 text-sm">{{ detection.name }}</span>
                </a>
              </div>
            </div>
          </th>
          <!-- Status -->
          <td>
            <span class="badge badge-dot mr-4">
              {% if detection.satatus_of_field == 'dead' %}
                <i class="bg-danger"></i> DEAD
              {% elif detection.satatus_of_field == 'save' %}
                <i class="bg-warning"></i> SAVE
              {% else %}
                <i class="bg-success"></i> GOOD
              {% endif %}
            </span>
          </td>
          <!-- Created -->
          <td>
            {{ detection.created }}
          </td>
          <!-- Creator -->
          <td>
            <div class="avatar-group">
              <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ detection.user.get_full_name }}">
                {% if detection.profile.picture %}
                  <img alt="Image placeholder" src="{{ detection.profile.picture.url }}" class="rounded-circle">
                {% else %}
                    <img class="rounded-circle" src="{% static 'assets/img/theme/default_profile.jpg' %}"/>
                {% endif %}
              </a>
            </div>
          </td>
          <!-- Water Streess -->
          <td>
            <div class="d-flex align-items-center">
              <span class="mr-2">{{ detection.water_stress_percent }}%</span>
              <div>
                <div class="progress">
                  {% if detection.water_stress_percent >= 93 %}
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{detection.water_stress_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{detection.water_stress_percent}}%;"></div>
                  {% elif detection.water_stress_percent >= 85 %}
                  <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{detection.water_stress_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{detection.water_stress_percent}}%;"></div>
                  {% else %}
                  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{detection.water_stress_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{detection.water_stress_percent}}%;"></div>
                  {% endif %}
                </div>
              </div>
            </div>
          </td>
          <!-- Actions -->
          <td class="text-right">
            <div class="dropdown">
              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% block javascripts %}
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("detectionsTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("th")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock javascripts %}
