    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a href="https://www.ipn.mx"
                   class="font-weight-bold ml-1" target="_blank">Instituto Politecnico Nacional</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
               <a href="https://www.upiita.ipn.mx/">UPIITA</a>
               - code with <a target="_blank" href="https://www.djangoproject.com/">Django</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
