<!-- Navbar -->
<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
  <div class="container px-4">
    <a class="navbar-brand" href="/">
      <img src="/static/assets/img/brand/logo-white.png" width="250"/>
    </a>
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <!-- Navbar items -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a target="_blank"
             class="nav-link nav-link-icon"
             href="https://github.com/root1224/Proyecto_Pagina">
            <i class="ni ni-ui-04"></i>
            <span class="nav-link-inner--text">Source Code</span>
          </a>
        </li>

        <li class="nav-item">
          <a target="_blank"
             class="nav-link nav-link-icon" href="https://www.gob.mx/conadesuca/">
            <i class="ni ni-spaceship"></i>
            <span class="nav-link-inner--text">CONADESUCA</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
