<form method="POST">
  {% csrf_token %}
  <div class="tab-content card shadow border-0">
    <!-- RGB image -->
    {% if done_clouster %}
    <div class="tab-pane fade" id="rgb" role="tabpanel" aria-labelledby="rgb-tab">
    {% else %}
    <div class="tab-pane fade show active" id="rgb" role="tabpanel" aria-labelledby="rgb-tab">
    {% endif %}
      <img height="468px" alt="{{ detection.name }}" src="{{ detection.picture.url }}">
    </div>

    <!-- NDVI image -->
    {% if done_clouster == 'ndvi' %}
    <div class="tab-pane fade show active" id="ndvi" role="tabpanel" aria-labelledby="ndvi-tab">
    <img height="468px" alt="{{ detection.name }}" src="{{MEDIA_URL}}/temp/clouster/{{request.user.username}}/clouster_done.jpg">
    {% else %}
    <div class="tab-pane fade" id="ndvi" role="tabpanel" aria-labelledby="ndvi-tab">
    <img height="468px" alt="{{ detection.name }}" src="{{ detection.picture_ndvi.url }}">
    {% endif %}
      <div class="space bg-gradient-default"></div>

      <div class="row bg-gradient-default align-items-center">
          <div class="col">
            <label for="quantity" style="color:white">Cloustering Number:</label>
            <input type="number" style="width: 6em;" id="n_clouster_ndvi" name="n_clouster_ndvi" value="0" min="0" max="10" >
            <button type="submit" style="width: 6em;" name="cloustering_ndvi" class="btn btn-sm btn-secondary ">Done</button>
          </div>
      </div>
    </div>
    <!-- SAVI image -->
    {% if done_clouster == 'savi' %}
      <div class="tab-pane fade show active" id="savi" role="tabpanel" aria-labelledby="savi-tab">
      <img height="468px" alt="{{ detection.name }}" src="{{MEDIA_URL}}/temp/clouster/{{request.user.username}}/clouster_done.jpg">
    {% else %}
      <div class="tab-pane fade" id="savi" role="tabpanel" aria-labelledby="savi-tab">
      <img height="468px" alt="{{ detection.name }}" src="{{ detection.picture_savi.url }}">
    {% endif %}
      <div class="space bg-gradient-default"></div>

      <div class="row bg-gradient-default align-items-center">
          <div class="col">
            <label for="quantity" style="color:white">Cloustering Number:</label>
            <input type="number" style="width: 6em;" id="n_clouster_savi" name="n_clouster_savi" value="0" min="0" max="10" >
            <button type="submit" style="width: 6em;" name="cloustering_savi" class="btn btn-sm btn-secondary ">Done</button>
          </div>
      </div>
    </div>
    <!-- EVI2 image -->
    {% if done_clouster == 'evi2' %}
      <div class="tab-pane fade show active" id="evi2" role="tabpanel" aria-labelledby="evi2-tab">
      <img height="468px" alt="{{ detection.name }}" src="{{MEDIA_URL}}/temp/clouster/{{request.user.username}}/clouster_done.jpg">
    {% else %}
      <div class="tab-pane fade" id="evi2" role="tabpanel" aria-labelledby="evi2-tab">
      <img height="468px" alt="{{ detection.name }}" src="{{ detection.picture_evi2.url }}">
    {% endif %}
      <div class="space bg-gradient-default"></div>

      <div class="row bg-gradient-default align-items-center">
          <div class="col">
            <label for="quantity" style="color:white">Cloustering Number:</label>
            <input type="number" style="width: 6em;" id="n_clouster_evi2" name="n_clouster_evi2" value="0" min="0" max="10" >
            <button type="submit" style="width: 6em;" name="cloustering_evi2" class="btn btn-sm btn-secondary ">Done</button>
          </div>
      </div>
    </div>

  </div>
</form>
