{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

{% include "detections/_modal.html" %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-15 d-flex align-items-center"
         style="min-height: 1070px; background-image: url(/static/assets/img/theme/body-detail.jpg); background-size: cover; background-position: center top;">
    </div>

    <div class="container-fluid mt--18">
      <!-- Detectecion Image-->
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Detection Photo</h6>
                  <h2 class="text-white mb-0">{{ detection.name }}</h2>
                </div>

                <!-- Menu vertical -->
                <!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
                      <div class="dropdown-menu">
                        <div class=" dropdown-header noti-title">
                          <h6 class="text-overflow m-0">Select type!</h6>
                        </div>
                        <a class="dropdown-item" id="rgb-tab" data-toggle="tab" href="#rgb" role="tab" aria-controls="rgb" ><i class="ni ni-image"></i>RGB</a>
                        <a class="dropdown-item" id="without-tab" data-toggle="tab" href="#without" role="tab" aria-controls="without"><i class="ni ni-ungroup"></i>Without ground</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item class-ndvi" id="ndvi-tab" data-toggle="tab" href="#ndvi" role="tab" aria-controls="ndvi" ><i class="ni ni-diamond"></i>NDVI</a>
                        <a class="dropdown-item class-savi" id="savi-tab" data-toggle="tab" href="#savi" role="tab" aria-controls="savi" ><i class="ni ni-umbrella-13"></i>SAVI</a>
                        <a class="dropdown-item class-evi2" id="evi2-tab" data-toggle="tab" href="#evi2" role="tab" aria-controls="evi2" ><i class="ni ni-map-big"></i>EVI2</a>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

            <div class="card-body">
              {% include "detections/_detail_vis.html" %}
            </div>

          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total orders</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Data</h3>
                </div>
                <div class="col text-right">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#noteModal"  data-whatever="{{request.user.username}}" >New Note </button>
                </div>
                {% include "detections/_new_note_detail.html" %}
              </div>
            </div>

            <div class="table-responsive">
              <!-- Data table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Creator: {{ detection.user.get_full_name }}</th>
                    <th scope="col">Name: {{ detection.name }}</th>
                    <th scope="col">
                      Status: {{ detection.satatus_of_field }}

                      {% if detection.satatus_of_field == 'good' %}
                        <i class="fas fa-arrow-up text-success mr-3"></i>
                      {% elif detection.satatus_of_field == 'save' %}
                        <i class="fas fa-arrows-alt-v text-warning mr-3"></i>
                      {% else %}
                        <i class="fas fa-arrow-down text-danger mr-3"></i>
                      {% endif %}
                    </th>
                    <th scope="col">Created: {{detection.created }}</th>
                  </tr>
                </thead>
              </table>
              <div class="table-container">
                <table class="table">
                  <thead>
                    <th class="orderable">
                      <a href="?sort=name">Name</a>
                    </th>
                    <th class="orderable">
                      <a href="?sort=user">User</a>
                    </th>
                    <th class="orderable">
                      <a href="?sort=text">Text</a>
                    </th>
                    <th class="desc orderable">
                      <a href="?sort=created">Created</a>
                    </th>
                    <th></th>
                  </thead>
                  <tbody>
                    {% for note in notes %}
                      {% include "detections/tables/detail.html" %}
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script type="text/javascript">
  $(function () {
    $('#noteModal').on('show.bs.modal', function (event) {
      var button = $("button[data-target='#noteModal']"); // Button triggered the modal
      var recipient = button.data('whatever')
      var message = button.data('message')
      var modal = $(this)
      modal.find('.modal-title').text('New note by ' + recipient)
      // modal.find('.modal-body input').val(recipient)
      //modal.find('.modal-body textarea').val(message)
    })

  });
</script>


{% endblock javascripts %}
