{% extends 'layouts/base.html' %}

{% block title %}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<script type="text/javascript">
  var strX = "{{detections_name}}";
  var strY = "{{detections_stress}}";
window.onload = function () {

  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    	title:{
    		text: "Water Stress"
    	},
      axisY :{
        title: "Water Content",
        suffix: "%"
      },
      legend:{
    		cursor:"pointer",
    	},
  	data: [{
  		type: "spline",
  		dataPoints: []
  	}]
  });

  var xVal = strX.split(";");
  var yVal = strY.split(";");

  for(var i = 0; i < xVal.length; i++) {
  chart.options.data[0].dataPoints.push({
    label:xVal[i],
    y: parseFloat(yVal[i])
  });
  }

  chart.render();

}
</script>



    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-15 d-flex align-items-center"
         style="min-height: 1070px; background-image: url(/static/assets/img/theme/body-home.jpg); background-size: cover; background-position: center top;">
    </div>

    <div class="container-fluid mt--18">

      <div class="row animate-bottom">
        <div class="col mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Detections</h6>
                  <h2 class="text-white mb-0">Water stress</h2>
                </div>
                <div class="col">

                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->

                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5 animate-bottom">
        <div class="col">
          <div class="card bg-default shadow">

              <!-- Table all detections -->
              {% include "detections/tables/all.html" %}

            <div class="card-footer py-4 bg-default shadow">
              <nav aria-label="...">
              <!--  {% if page_obj.has_other_pages %}
                  {% include "includes/pagination.html" %}
                {% endif%}-->
              </nav>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
